.container{
    background-color: black;
    width: 900px;
}

.nav{
    background-color: #708090;
    padding: 1rem;
}

.nav-item{
    color: #fff;
    padding: 0.8rem;
    font-weight: bold;
    text-decoration: none;
}
p{
    color: white;
}

.contato{
    font-style: italic;
    font-weight: 700;
 
}

main{
    color: white;
}

footer p{
    color: white;
    text-align: center;
}